<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3> Just put in your email</h3>
    <h5> (It's gotta end in .edu)</h5>
  <%= f.text_field :name %><br>
  </div>
<p></p>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
