<div class="jumbotron">
  <h1>Welcome to Hoober</h1>
  <h3>Be a part of wahoos going places</h3>
</div>
<h1></h1>
<h3><center>Be a part of wahoos going places</center><h3>


<center>
<%= render 'form' %>
  <p></p>
<%= link_to 'Back', users_path %>
</center>