<div class="jumbotron">
  <h1><center>Welcome to <font color="orange">Hoober</font></center></h1>
  <p> <center> <i>Find a ride to and from your home away from home.
    </i></center> </p>
</div>


  <div class="panel-body">
    <p>
      <center>In order to see posts and post yourself, you must be a student! </center>
    </p>
    <p>

     <center> Please go <%= link_to "Register Your .edu Email", new_user_path, class:
      "btn btn-primary btn-xs" %> first,
       if you haven't done so already. </center>
    </p>
    <p>


    </p>
    <p> <center> After doing so, then you can
      <%= link_to "See Student's Posts", posts_path, class: "btn btn-primary btn-xs" %> and go find a ride! </center> </p>
  </div>
</div>


