<center>
  <h1>Welcome to the <font color="orange">Hoober </font> family</h1>
  <hr>
  <h4>Check out all the <font color="orange">Wahoos </font> going places!</h4>
  <%= link_to "Catch/Offer a ride", new_post_path, class: "btn btn-primary" %>
  <%= link_to "See what's up", posts_path, class: "btn btn-primary" %>
</center>
