<center>
  <h1>Welcome to the Hoober family</h1>
  <h3>Unlock your full potential</h3>
  <%= link_to "Catch/Offer a ride", new_post_path, class: "btn btn-primary" %>
  <%= link_to "See what's up", posts_path, class: "btn btn-primary" %>
</center>
